apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: nginxdemos/hello:plain-text
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: 50m
            memory: 64Mi
          requests:
            cpu: 20m
            memory: 32Mi
